# TIVA / CCS
TIVA_code/Debug/
TIVA_code/Release/
TIVA_code/Binaries/
TIVA_code/Includes/

# Qt
QT_code/build/
QT_code/Debug/
QT_code/Release/
*.pro.user
.qtcreator/

# Binarios
*.o
*.obj
*.out
*.elf
*.bin
*.hex
*.map
*.url

# Eclipse / Code Composer Studio local settings
.settings/
.metadata/

# Sistema operativo
.DS_Store
Thumbs.db*.pro.user
*.pro.user
